.stickers {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  image-rendering: pixelated;
}

.badges {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border-top: solid 5px var(--pink);
  image-rendering: pixelated;
}
